before_install: gem install bundler
sudo: false
cache:
  bundler: true
env:
  global:
    - "JRUBY_OPTS='--dev -J-Xmx1024M'"
language: ruby
rvm:
  - 2.4.2
  - 2.3.5
  - 2.2.8
  - 2.1.10
  - 2.0.0
  - jruby
  - ruby-head

jdk:
  - openjdk7
  - openjdk8
  - oraclejdk8
  - oraclejdk9

matrix:
  allow_failures:
    - rvm: ruby-head
